/*메뉴바 시작*/
#main-menu-box {position: relative; height: 120px;}
#main-menu-box .inner {position: relative; left: 50%; transform: translateX(-50%); z-index: 100; width:100%; height: 100%; background-color: white;}
#main-menu-box .inner .width-size {}
#main-menu-box .inner .width-size .menu-bar {}
#main-menu-box .inner .width-size .menu-bar > ul {}
#main-menu-box .inner .width-size .menu-bar > ul > li {}
#main-menu-box .inner .width-size .menu-bar > ul > li:not(:nth-child(5)) {margin-right: 48px;}
#main-menu-box .inner .width-size .menu-bar > ul > li > a {font-size: 20px; font-weight: 500;}
#main-menu-box .inner .width-size .menu-bar > ul > li:hover > a {font-weight: 700;}

#main-menu-box .inner .width-size .menu-bar > ul > li > a > span {position: relative;}
#main-menu-box .inner .width-size .menu-bar > ul > li > a > span::after {content: ""; position: absolute; top: 100%; left: 50%; transform: translateX(-50%); width: 0; height: 4px; background-color: #040485; transition: width 0.3s;}
#main-menu-box .inner .width-size .menu-bar > ul > li:hover > a > span::after {width: 100%;}


/*메인 슬라이드 시작*/
#container {height: 100%;}
#container .main-slide {width: 100%; height: 100%; }
#container .main-slide .swiper-wrapper {}
#container .main-slide .swiper-wrapper .swiper-box {position: relative; display: flex; justify-content: center; align-items: center; text-align: center; }

#container .main-slide .swiper-wrapper .swiper-box > img {display: block; width: 100%; height: 100%; object-fit: cover;}

#container .main-slide .swiper-wrapper .swiper-box .txt-box {position: absolute; left: 50%; transform: translateX(-50%); animation-name: move; animation-duration: 4s; animation-delay: 0s; animation-iteration-count: 1; animation-direction: normal; animation-fill-mode: forwards; animation-play-state: running;}
#container .main-slide .swiper-wrapper .swiper-box .txt-box > p{color: white; line-height: 15px; text-shadow: 0 4px 20px #020100;}
#container .main-slide .swiper-wrapper .swiper-box .txt-box > p:nth-child(1) {font-size: 40px; font-weight: 700;}





@keyframes move {
    from {
        bottom: 7%;
    }
    to {
        bottom: 5%;
    }
}

/*content-1*/
#container .content-1 {margin-top: 140px; height: 700px;}
#container .content-1 .title-box {}
#container .content-1 .title-box .bar {width: 20px; height: 104px; background-color: #040485;} 
#container .content-1 .title-box .title {margin-left: 20px; line-height: 50px; font-size: 50px; font-weight: 700;}

/* 탭 버튼 리스트*/
/* #container .content-1 .tab-wrap01 {width: 800px;} */
#container .content-1 .tab-wrap01 .tab-btn-list {margin-top:50px;}
#container .content-1 .tab-wrap01 .tab-btn-list > li {margin-right: 80px;}
#container .content-1 .tab-wrap01 .tab-btn-list > li > a {cursor: pointer; font-size: 24px; font-weight: 300;}
#container .content-1 .tab-wrap01 .tab-btn-list > li > a.on {font-weight: 700; border-bottom: 5px solid #040485;}

/*탭 박스 리스트*/
#container .content-1 .tab-wrap01 .tab-box-wrap {width: 100%; margin-top: 50px;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box {display: none;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box.on {display: block;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .inner {}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .inner .tab-01-img-box {}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .inner .tab-01-img-box > img {}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .inner .tab-01-box {margin-left: 120px;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .inner .tab-01-box .txt-1 {font-size: 20px; font-weight: 700; color: #040485;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .inner .tab-01-box .txt-2 {margin-top: 40px; font-size: 45px; font-weight: 700;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .inner .tab-01-box .txt-3 {margin-top: 50px; font-size: 22px; font-weight: 400;}

#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-02-box {}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-02-box .txt-box {}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-02-box .txt-box > span {display: block;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-02-box .txt-box .num {font-size: 28px; font-weight: 500; color: #040485;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-02-box .txt-box .txt-1 {font-size: 38px; font-weight: 700; margin-top: 45px;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-02-box .txt-box .txt-2 {font-size: 18px; font-weight: 300;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-02-box .txt-box .bar {border-bottom: 3px solid #040485; width: 100px; margin: 30px 0;}

/*비전스쿨 교육시설 슬라이드*/
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .slide1 {height: 340px;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .slide1 .swiper-wrapper {}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .slide1 .swiper-wrapper .item {position: relative; height: 100%; width:100%; box-sizing: border-box; overflow: hidden; cursor: pointer;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .slide1 .swiper-wrapper .item > img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .slide1 .swiper-wrapper .item > img.hor {height: 100%;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .slide1 .swiper-wrapper .item > img.ver {width: 100%;}

/* 팝업창 레이아웃 */
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .slide1 .swiper-wrapper .item > div {}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .slide1 .swiper-wrapper .item > div .title { position: absolute; top: 0; left: 0; transform: translateX(-50%) translateY(-50%); width: 100%; height: 100%; background: rgba(4, 24, 141, 0.8); color: white; text-align: center; opacity: 0; transform: scale(0.9); transition: transform .3s, opacity .3s; z-index: 10;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .slide1 .swiper-wrapper .item > div:hover .title {display: block; transform: scale(1.0); opacity: 1;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .slide1 .swiper-wrapper .item > div .title .name1 {position: absolute; top: 30%; left: 50%; transform: translateX(-50%); display: block; font: 12px; letter-spacing: 3px;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .slide1 .swiper-wrapper .item > div .title .name2 {position: absolute; top: 40%; left: 50%; width: 100%; transform: translateX(-50%); display: block; font-size: 30px; font-weight: 500; letter-spacing: -0.03em;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .slide1 .swiper-wrapper .item > div .title .name3 {position: absolute; top: 57%; left: 50%; width: 40px; height: 40px; border-radius: 100%; transform: translateX(-50%); display: block; font-size: 30px; border: 1px solid white;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .slide1 .swiper-wrapper .item > div .title .name3::before {content: ""; width: 24px; border-top: 2px solid #fff; position: absolute; left: 50%; top: 50%; margin-left: -12px; margin-top: -1px; transform: rotate(90deg);}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .slide1 .swiper-wrapper .item > div .title .name3::after {content: ""; width: 24px; border-top: 2px solid #fff; position: absolute; left: 50%; top: 50%; margin-left: -12px; margin-top: -1px;}

#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-04-box {margin: 0 auto;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-04-box .inner-box {}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-04-box .inner-box .contect-list {}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-04-box .inner-box .contect-list > ul {}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-04-box .inner-box .contect-list > ul > li {margin-left: 80px;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-04-box .inner-box .contect-list > ul > li .tit {text-align: center; font-size: 32px; font-weight: 700;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-04-box .inner-box .contect-list > ul > li .desc {margin-top: 30px;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-04-box .inner-box .contect-list > ul > li .desc .item {margin-bottom: 60px;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-04-box .inner-box .contect-list > ul > li .desc .item .icon {display: inline-block;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-04-box .inner-box .contect-list > ul > li .desc .item .icon > i {font-size: 50px;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-04-box .inner-box .contect-list > ul > li .desc .item .text {margin-left: 30px;}
#container .content-1 .tab-wrap01 .tab-box-wrap .tab-box .tab-04-box .inner-box .contect-list > ul > li .desc .item .text > em {display: block; font-size: 20px; font-weight: 500; color: #040485;}

/* 팝업1 시작 */
.popup-box {}
.popup-box .pop-1-bg {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); display: none; z-index: 10;}
.popup-box .pop-1-bg.active {display: block;}

.popup-box .pop-1 {position: relative;}
.popup-box .pop-1-bg+.pop-1 {width: 900px; position: fixed; left: 50%; transform: translateX(-50%) translateY(-1000px); top: 100px; transition: transform 0.4s; padding: 30px; z-index: 10; background-color: white;}
.popup-box .pop-1-bg.active+.pop-1 {transform: translateX(-50%) translateY(0);}

.popup-box .pop-1 .head {}
.popup-box .pop-1 .head .btn-close {position: absolute; top: 100%; left: 50%; transform: translateX(-50%); padding-top: 10px; color: white; font-weight: 600; cursor: pointer;}
.popup-box .pop-1 .head .btn-close:nth-child(1) {left: 46%; padding-top: 12px; font-weight: 200;}

.popup-box .pop-1 .body {}
.popup-box .pop-1 .body .client {text-align: center; font-size: 12px;}
.popup-box .pop-1 .body .title {margin-top: 10px; text-align: center; font-size: 30px; font-weight: 600;}
.popup-box .pop-1 .body .img-boxs {margin-top: 20px;}
.popup-box .pop-1 .body .img-boxs > img {display: block; border: 2px solid red; width: 100%;}

.pop-1>.body>.video-box {
    margin-top: 30px;
    border: 100px solid red;
}



/*content-2*/
#container .content-2 {margin-top: 200px;}
#container .content-2 .title-box {}
#container .content-2 .title-box .title {margin-left: 20px; line-height: 50px; font-size: 50px; font-weight: 700;}
#container .content-2 .title-box .bar {height: 104px; width: 20px; background-color: #040485;}

/*비전스쿨 사진에 넣는 탭박스*/
#container .content-2 > .tab-wrap02 {margin-top: 80px; width:100%;}
#container .content-2 > .tab-wrap02 .tab-btn-list {width: 300px; margin-left: auto; margin-right: auto;}
#container .content-2 > .tab-wrap02 .tab-btn-list > li {cursor: pointer;}
#container .content-2 > .tab-wrap02 .tab-btn-list > li:nth-child(1) {margin-right: 40px;}
#container .content-2 > .tab-wrap02 .tab-btn-list > li > a {font-size: 24px;}
#container .content-2 > .tab-wrap02 .tab-btn-list > li > a.on {font-weight: 700; border-bottom: 5px solid #040485;}


#container .content-2  .tab-wrap02 .tab-box-wrap .tab-box {display: none;}
#container .content-2  .tab-wrap02 .tab-box-wrap .tab-box.on {display: block;}


#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box {}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner {}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box {}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box > .gallery-box {position: relative; margin-top: 20px; padding: 0 0 180px 0;}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box > .gallery-box .box {position: absolute; top: -2%; left: 25%; width: 25%; z-index: 100; background: url(https://ssw0428.github.io/img1/pf/happy/bg_gal.gif) no-repeat center; background-size: 400px 600px;}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box > .gallery-box .box > h3 {font-size: 32px; color:#2a2a2a}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box > .gallery-box .box .text-box {position: relative; margin: 50px 0; padding-top: 120px;}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box > .gallery-box .box .text-box .text-1 {position: relative; color: #2a2a2a; font-size: 50px; font-weight: 600; letter-spacing: 0.5em; z-index: 2000;}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box > .gallery-box .box .text-box .text-1 > span {position: relative; z-index: 1000;}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box > .gallery-box .box .text-box .text-1 .line1 {position: absolute; display: block; z-index: 1000; left: 0; top: 0; width: 269px; height: 48px; background: rgba(4, 24, 141, 0.8);}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box > .gallery-box .box .text-box .text-2 {position: relative; font-family: 'GmarketSansBold'; color: #2a2a2a; font-size: 50px; letter-spacing: 0.5em; z-index: 2000;}


/*비쿨 사진 슬라이드*/
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box .gallery-box .slide2 {height: 600px; width: 1600px;}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box .gallery-box .slide2 .swiper-wrapper {}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box .gallery-box .slide2 .swiper-wrapper .swiper-slide {text-align: center; font-size: 18px; transition: transform 1s;}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box .gallery-box .slide2 .swiper-wrapper .swiper-slide .img-box {background-repeat: no-repeat; background-size: cover; background-position: center;}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box .gallery-box .slide2 .swiper-wrapper .swiper-slide .img-box::before {content: ""; display: block; padding-bottom: 100%;}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box .gallery-box .slide2 .swiper-wrapper .swiper-slide .img-box > img {display: none;}

#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box .gallery-box .slide4 {height: 100%; width: 1600px;}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box .gallery-box .slide4 .swiper-wrapper {}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box .gallery-box .slide4 .swiper-wrapper .swiper-slide {text-align: center; font-size: 18px; transition: transform 1s;}

#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box .gallery-box .slide4 .swiper-wrapper .swiper-slide .img-box {background-repeat: no-repeat; background-size: cover; background-position: center;}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box .gallery-box .slide4 .swiper-wrapper .swiper-slide .img-box::before {content: ""; display: block; padding-bottom: 100%;}
#container .content-2 > .tab-wrap02 > .tab-box-wrap .tab-box .inner .swiper-box .gallery-box .slide4 .swiper-wrapper .swiper-slide .img-box > img {display: none;}


.content-2 .down-ani {
    transform: translateY(100px);
}

.content-2 .swiper-box .slide-arrows .swiper-button {
    outline: none;
    border: 10px solid red;
    height: 20%;
}

/*비전스쿨 영상 슬라이드*/
.content-2 .slide3 {
    height: 360px;
    border: 2px solid blue;
    margin-top: 30px;
}

.content-2 .slide3 .swiper-wrapper {
    height: 100%;
    width: 100%;
}

.content-2 .slide3 .video-box {
    position: relative;
    height: 100%;
    margin-top: 40px;
    border: 3px solid red;
    box-sizing: border-box;
}

.content-2 .slide3 .video-box>iframe {
    width: 100%;
    height: 100%;
}

/*content-3*/
#container .content-3 {margin-top: 100px; padding:100px 0; background-color: #f1f1f1;}
#container .content-3 .title-box {}
#container .content-3 .title-box .bar {width: 20px; height: 104px; background-color: #040485;}
#container .content-3 .title-box .title {font-size: 50px; font-weight: 700; line-height: 50px; margin-left: 20px;}
#container .content-3 .title-box .title > span {display: block; font-size: 18px; font-weight: 300; line-height: 22px;}
#container .content-3 .title-box .title > span:nth-child(1) {margin-top: 12px;}

#container .content-3 .hover-box {position: relative; margin-top: 50px;}
#container .content-3 .hover-box .inner {overflow: hidden; height: 506px;}
#container .content-3 .hover-box .inner > ul {max-width: 1600px; height: 100%; margin: 0 auto; overflow: hidden;}
#container .content-3 .hover-box .inner > ul .item {position: relative; display: flex; text-align: center; width: 125px; height: 506px; background-repeat: no-repeat; transition-duration: 0.5s; flex-direction: column; justify-content: start; cursor: default;}
#container .content-3 .hover-box .inner > ul .item.on {width: calc(100% - 465px); max-width: 1220px; margin-top: 0 !important;}
#container .content-3 .hover-box .inner > ul .item+.item {margin-left: 30px;}
#container .content-3 .hover-box .inner > ul .item .inner {position: relative; margin: 0 auto; width: 100%; height: 100%;}

#container .content-3 .hover-box .inner > ul .item-2 {margin-top: 56px;}
#container .content-3 .hover-box .inner > ul .item-4 {margin-top: 56px;}

#container .content-3 .hover-box .inner > ul .item .inner .black_img {display: block; height: 100%; width: 100%; box-sizing: border-box; vertical-align: baseline;}
#container .content-3 .hover-box .inner > ul .item .inner .black_img > img {width: 100%; height: 100%;}

#container .content-3 .hover-box .inner > ul .item .inner .color_img {display: none;}
#container .content-3 .hover-box .inner > ul .item.on .inner .black_img {display: none;}
#container .content-3 .hover-box .inner > ul .item.on .inner .color_img {position: relative; display: block; height: 100%; overflow: hidden; box-sizing: border-box; transition-duration: .5s;}
#container .content-3 .hover-box .inner > ul .item.on .inner .color_img .img-box-1 {position: relative; height: 100%;}
#container .content-3 .hover-box .inner > ul .item.on .inner .color_img .img-box-1 .video {width: 100%; height: 100%; max-width: 900px; float: right;}
#container .content-3 .hover-box .inner > ul .item.on .inner .color_img .img-box-1 .video .video-box {position: relative; width: 100%; height: 100%; padding-bottom: 56.25%; float: right;}

#container .content-3 .hover-box .inner > ul .item .inner .color_img .sub-box {position: absolute; left: 70%; bottom: 100px;}
#container .content-3 .hover-box .inner > ul .item.on .inner .color_img .sub-box {position: absolute; left: 0; bottom: 30px; padding: 20px; width: 260px; text-align: left; color: #fff; z-index: 1; background-color: rgba(0, 0, 0, 0.6); border: 2px solid red;}
#container .content-3 .hover-box .inner > ul .item.on .inner .color_img .sub-box .text-1 {white-space: nowrap; font-size: 24px; font-weight: 300;}
#container .content-3 .hover-box .inner > ul .item.on .inner .color_img .sub-box .text-2 {font-size: 24px; font-weight: 400;}
#container .content-3 .hover-box .inner > ul .item.on .inner .color_img .sub-box .text-2 > span {display: block; font-size: 36px; font-weight: 300;}
#container .content-3 .hover-box .inner > ul .item.on .inner .color_img .sub-box .sub-text {white-space: pre-wrap;}


/*content-4*/
#container .content-4 {margin-top: 140px;}
#container .content-4 .title-box {}
#container .content-4 .title-box .title {margin-left: 20px; line-height: 50px; font-size: 50px; font-weight: 700;}
#container .content-4 .title-box .bar {height: 104px; width: 20px; background-color: #040485;}

.content-4 table {border-collapse: collapse; border-spacing: 0; border: 100px solid red;}
.content-4 section.notice {padding: 60px 0;}

#container .content-4 .notice .page-title {margin-bottom: 60px; }
#container .content-4 .notice .page-title .container {}
#container .content-4 .notice .page-title .container > h3 {text-align: center; font-size: 28px; font-weight: 400; color: #333333;}

#container .content-4 .notice #board-search {}
#container .content-4 .notice #board-search .container {}
#container .content-4 .notice #board-search .container .search-window {padding: 15px 0; background-color: #f9f7f9;}
#container .content-4 .notice #board-search .container .search-window > form {}
#container .content-4 .notice #board-search .container .search-window > form .search-wrap {position: relative; margin:0 auto; width: 80%; max-width: 564px;}
#container .content-4 .notice #board-search .container .search-window > form .search-wrap > input {height: 40px; width: 100%; font-size: 14px; padding: 7px 14px; border: 1px solid #ccc;}
#container .content-4 .notice #board-search .container .search-window > form .search-wrap > input:focus {border-color: #333; outline: 0; border-width: 1px;}
#container .content-4 .notice #board-search .container .search-window > form .search-wrap .btn {position: absolute; right: 0; top: 0; bottom: 0; width: 108px; padding: 0; font-size: 16px;}
#container .content-4 .notice #board-search .container .search-window > form .search-wrap .btn {}


#container .content-4 .notice #board-list {}
#container .content-4 .notice #board-list .container {}
#container .content-4 .notice #board-list .container .board-table {font-size: 13px; width: 100%; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}

#container .content-4 .notice #board-list .container .board-table > thead {}
#container .content-4 .notice #board-list .container .board-table > thead > tr {}
#container .content-4 .notice #board-list .container .board-table > thead > tr > th {}
#container .content-4 .notice #board-list .container .board-table > thead > tr .th-num {width: 100px; text-align: center;}
#container .content-4 .notice #board-list .container .board-table > thead > tr .th-date {width: 200px;}
#container .content-4 .notice #board-list .container .board-table > thead > tr .th-title {}

#container .content-4 .notice #board-list .container .board-table > tbody {}
#container .content-4 .notice #board-list .container .board-table > tbody > tr {}
#container .content-4 .notice #board-list .container .board-table > tbody > tr > td {border-top: 1px solid #e7e7e7; text-align: center;}
#container .content-4 .notice #board-list .container .board-table > tbody > tr > th {padding-left: 28px; padding-right: 14px; border-top: 1px solid #e7e7e7; text-align: left; }
#container .content-4 .notice #board-list .container .board-table > tbody > tr > th > a {color: #333; display: inline-block; line-height: 1.4; word-break: break-all; vertical-align: middle;}
#container .content-4 .notice #board-list .container .board-table > tbody > tr > th > a:hover {text-decoration: underline;}
#container .content-4 .notice #board-list .container .board-table > tbody > tr > th > a

.content-4 .board-table th {text-align: center;}

.content-4 .board-table th, .board-table td {padding: 14px 0;}

.content-4 .board-table tbody tr th p {display: none;}
.content-4 .board-table tbody tr:hover th p {display: block;}

.content-4 .btn { display: inline-block; padding: 0 30px; font-size: 15px; font-weight: 400; background: transparent; text-align: center; white-space: nowrap; vertical-align: middle; touch-action: manipulation; cursor: pointer; user-select: none; border: 1px solid transparent; text-transform: uppercase; border-radius: 0; transition: all 0.3s; border: 10px solid pink;}

.content-4 .btn-dark {background: #555; color: #fff;}

.content-4 .btn-dark:hover, .btn-dark:focus {background: #373737; border-color: #373737; color: #fff;}

.content-4 .btn-dark {background: #555; color: #fff;}

.content-4 .btn-dark:hover, .btn-dark:focus {background: #373737; border-color: #373737; color: #fff;}

/* reset */
.content-4 .clearfix:after {content: ''; display: block; clear: both;}

.content-4 .container {margin: 0 auto;}

.content-4 .blind {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px;}


.footer {background-color: #0f112c; width: 100%; height: 160px;}
.footer .inner {padding-top: 30px;}
.footer .inner > .address {border: 1px solid red; color: white;}
.footer .inner > .address > p:nth-child(1) {margin-right: 30px;}


